/* Default Layout for all pages */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("/asset/image/background.png");
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #244533;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.navbar {
  background-color: #244533;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 45px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  flex: 1; /* keep the navigation at the left side of the nav bar */
}

.navbar > a {
  color: white;
  text-decoration: none;
  margin-left: 90px;
  font-size: 20px;
}

.navbar > a:hover {
  text-decoration: underline;
}

.header {
  background-image: url(/asset/image/background_header.png);
  background-size: cover;
  color: white;
  padding: 25px 30px;
  font-size: 28px;
  font-weight: bold;
}

.heading-image {
  background-color: white;
}

.heading-image img {
  width: 900px;
  display: block;
  margin: auto;
}

/* For Home and About Me */
.layout-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat();
}

/* For Home Page */
.first-sub-header {
  font-size: 28px;
  margin-top: 100px;
  margin-left: 100px;
}

.sub-header {
  font-size: 28px;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.content {
  display: grid;
  grid-column: 2/4;
  border-radius: 30px;
  background-color: #9bd0ef;
  padding: 25px;
  width: 600px;
  font-size: 26px;
}

ol {
  display: grid;
  grid-column: 2/4;
  background-color: #9bd0ef;
  border-radius: 30px;
  padding-left: 40px;
  width: 600px;
}

ol > li {
  padding: 20px;
  font-size: 26px;
}

.representation {
  display: grid;
  width: 500px;
  height: 280px;
  margin: auto;
  grid-column: 6/12;
  grid-row: 1/3;
}

#last-section {
  padding-bottom: 50px;
}


/* For About Me */
.about-content {
  display: grid;
  grid-column: 4/10;
  border-radius: 30px;
  background-color:rgba(255, 255, 255, 0.75);
  padding: 25px;
  font-size: 26px;
  margin-top: 80px;
  margin-bottom: 80px;
}


/* For Personal Experience */

.personal-section {
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(3,1fr);
}

.personal-content:nth-child(1) {
    display: grid;
    grid-column: 2/7;
}

.personal-content:nth-child(2) {
    display: grid;
    grid-column: 8/13;
}

.personal-content:nth-child(3) {
    display: grid;
    grid-column: 14/19;
}

.personal-representation {
    width: 456px;
    height: 346px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.personal-header {
    display: grid;
}

.main-info {
  display: grid;
  border-radius: 30px;
  background-color: #9bd0ef;
  padding: 25px;
  font-size: 26px;
}
